#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- $(shell dpkg-buildflags --export=configure)

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr

# reptyr's test suite relies on being able to ptrace non-child
# processes, which isn't allowed under yama's defaults on Ubuntu
override_dh_auto_test:
	#disable
